
body {
  font-family: Comfortaa, sans-serif;
}

#a {
  width: 15rem;
}
#page {
  overflow-x: hidden;
}

#page.toggled #sidebar {
  margin-left: -15rem;
}

#sidebar {
  min-height: 100vh;
  margin-left: 0;
  width: 15rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}

#page-content {
  min-width: 0;
  width: 100%;
}
#Logologin img {
  width: 70%;
}
label {
  color: #f0c24e;
  text-shadow: 0;
}
